.input-field>label {
    color:black;
    size: 20px;
}

.collection .collection-item {
    background-color: darkgrey;
    color: white;
    size: 30px;
}

.secondary-content {
    float: right;
    color:black;
}

.collection .collection-item {
    background-color: darkgrey;
    color: black;
    size: 50px;

  }